@model BO.Pizza

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this pizza ?</h3>
<div>
    @Html.Partial("_Pizza", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
