@model TPPizzaENI.Models.DetailsPizza

@{
    ViewBag.Title = "Détails de ma pizza";
}

@Html.Partial("_DetailsPizza", Model)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pizza.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
